@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FAF8F3;
  color: #1A1612;
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}